<div class="row">
  <div class="title">
    <h4>Editar Informações sobre usuarios</h4> </div>
</div>
<div class="row filter grey lighten-4 title">
  <div class="col s12">
      <h6>Filtro</h6>
      <div class="row filters">
        <div class="col s3">
            <mz-input-container>
                <i mz-icon-mdi mz-input-prefix
                  [icon]="'account'">
                </i>
                <input mz-input
                  [autocomplete]="'teste'"
                  [label]="'Buscar por Titulo'"
                  [validate]="true"
                  [dataError]="'Nome Inválido'"
                  [dataSuccess]="'Email is valid'"
                  id="email-input"
                  placeholder="Digite aqui"
                  length="30">
              </mz-input-container>
        </div>
        <div class="col s2 nameBtn">
          <a mz-button>Buscar</a>
        </div>
        <div class="col s3">
          <mz-select-container
          [inline]="true"
          ><select mz-select
              id="options-select"
              [placeholder]="'Selecione a Edição'"
            ><option >2019</option>
            </select>
          </mz-select-container>
        </div>
      </div>
  </div>
</div>
<div class="row importantButtons center">
  <div class="col s12">
    <a mz-button class="orange accent-4">Nova Noticia</a>
    <a mz-button>Selecionar Várias</a>
  </div>
</div>
<div class="row ">
    <div class="col s10 offset-s1 grey lighten-4 box">
      <div class="row ">
        <table>
            <table class=" highlight">
                <thead>
                  <tr>
                      <th>Titulo da Notícias</th>
                      <th>Data</th>
                      <th class="center">Açoes</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Alvin Eos Esquilos</td>
                    <td></td>
                    <td class="center">
                    <a class="userAction" href=""><img src="./assets/settings.png" height="24px"></a>
                    <a class="userAction" href=""><img src="./assets/delete.png" height="24px"></a>
                    <a class="userAction" href=""><img src="./assets/important-news-selected.png" height="24px"></a>

                   </td>
                  </tr>
                  <tr>
                    <td>Alan Turing Pai da Aviação</td>
                    <td></td>
                    <td class="center">
                        <a class="userAction" href=""><img src="./assets/settings.png" height="24px"></a>
                        <a class="userAction" href=""><img src="./assets/delete.png" height="24px"></a>
                    <a class="userAction" href=""><img src="./assets/important-noselected.png" height="24px"></a>

                       </td>
                  </tr>
                  <tr>
                    <td>Jonathan Did Doe</td>
                    <td></td>
                    <td class="center">
                        <a class="userAction" href=""><img src="./assets/settings.png" height="24px"></a>
                        <a class="userAction" href=""><img src="./assets/delete.png" height="24px"></a>
                        <a class="userAction" href=""><img src="./assets/important-noselected.png" height="24px"></a>
                      </td>
                  </tr>
                </tbody>
              </table>
        </table>
      </div>
    </div>
    <app-user-action *ngIf="Actioned === true"></app-user-action>
  </div>




  <mz-dropdown
  [id]="'dropdown-demo'"
  [align]="'left'"
  [belowOrigin]="false"
  [constrainWidth]="true"
  [dropdownButtonId]="'btnActions'"
  [gutter]="true"
  [hover]="false"
  [inDuration]="300"
  [outDuration]="300"
  [stopPropagation]="true"
>
  <mz-dropdown-item><a href="#!">Ver Perfil</a></mz-dropdown-item>
  <mz-dropdown-item><a href="#!">Editar </a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a href="#!">Excluir </a></mz-dropdown-item>
</mz-dropdown>
