<div class="row">
  <div class="title">
    <h4>Editar Informações sobre usuarios</h4> </div>
</div>
<div class="row filter grey lighten-4 title">
  <div class="col s12">
      <h6>Filtro</h6>
      <div class="row buttons">
        <a mz-button>Procurar por nome</a></div>
  </div>
</div>
<div class="row">
    <div class="col s10 offset-s1 grey lighten-4">
      <div class="row">
        <table>
            <table>
                <thead>
                  <tr>
                      <th>Name</th>
                      <th>Author</th>
                      <th>Options</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Alvin</td>
                    <td>Eclair</td>
                    <td>$0.87</td>
                  </tr>
                  <tr>
                    <td>Alan</td>
                    <td>Jellybean</td>
                    <td>$3.76</td>
                  </tr>
                  <tr>
                    <td>Jonathan</td>
                    <td>Lollipop</td>
                    <td>$7.00</td>
                  </tr>
                </tbody>
              </table>
        </table>
      </div>
    </div>
  </div>
