<div class="row">
  <div class="title">
    <h4>Administrar Eventos</h4> </div>
</div>
<div class="row filter grey lighten-4 title">
  <div class="col s12">
      <h6>Filtro</h6>
      <div class="row filters">
        <div class="col s3">
            <mz-input-container>
                <i mz-icon-mdi mz-input-prefix
                  [icon]="'account'">
                </i>
                <input mz-input
                  [autocomplete]="'teste'"
                  [label]="'Buscar por Titulo'"
                  [validate]="true"
                  [dataError]="'Nome Inválido'"
                  [dataSuccess]="'Email is valid'"
                  id="email-input"
                  placeholder="Digite aqui"
                  length="30">
              </mz-input-container>
        </div>
        <div class="col s2 nameBtn">
          <a mz-button>Buscar</a>
        </div>
        <div class="col s3">
          <mz-select-container
          [inline]="true"
          ><select mz-select
              id="options-select"
              [placeholder]="'Selecione a Edição'"
            ><option >2019</option>
            </select>
          </mz-select-container>
        </div>
      </div>
  </div>
</div>
<div class="row importantButtons center">
  <div class="col s12">
    <a mz-button class="orange accent-4" routerLink="novo-evento" (click)="actionPage()">Novo Evento</a>
    <a mz-button>Selecionar Varios</a>
  </div>
</div>
<div class="row ">
    <div class="col s10 offset-s1 grey lighten-4 box"  >
      <div class="row " >
        <table>
            <table class=" highlight" *ngIf="Actioned != true" >
                <thead>
                  <tr>
                      <th>Tema Evento</th>
                      <th>Data</th>
                      <th class="center">Açoes</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor='let event of Events; let i= index'>
                    <td>Alvin Eos Esquilos</td>
                    <td>10/08/2018</td>
                    <td class="center">
                    <a class="userAction" href=""><img src="./assets/settings2.png" height="24px"></a>
                    <!--<a class="userAction" href=""><img src="./assets/delete.png" height="24px"></a>-->
                    <a class="userAction" href=""><img src="./assets/important-news-selected.png" height="24px"></a>
                   </td>
                   <td>
                      <mz-checkbox-container>
                          <input mz-checkbox
                            id="{{i}}"
                            type="checkbox"
                            name="checkbox"
                            filledIn="true"
                            (click)="activeErease()"
                            >
                        </mz-checkbox-container>
                   </td>
                  </tr>
                </tbody>
              </table>
        </table>
      <router-outlet *ngIf="Actioned === true"></router-outlet>

      </div>
    </div>
  </div>


