
<div class="row">
  <div class="col s2 left-event">
      <img src="https://qph.fs.quoracdn.net/main-qimg-d7ad210b35a4ae15cfb41ea106626537.webp"
      height="250px"
      width="250px"
      alt="">
  </div>
  <div class="col s10 right-event">
    <h4>VIII SEMANA DE ESTUDOS E PESQUISAS SOBRE ESPAÇO, TRABALHO, INOVAÇÃO E SUSTENTABILIDADE – GEPETIS</h4>
    <h5>TEMA: ALTERNATIVAS PARA O DESENVOLVIMENTO NO CONTEXTO DA DEPENDÊNCIA </h5>
  </div>
</div>
<div class="divider"></div>
<div class="divider"></div>

<div class="row event">
    <div class="col s2 left-event">
        <img src="https://qph.fs.quoracdn.net/main-qimg-d7ad210b35a4ae15cfb41ea106626537.webp"
        height="250px"
        width="250px"
        alt="">
    </div>
    <div class="col s10 right-event">
      <h4>VIII SEMANA DE ESTUDOS E PESQUISAS SOBRE ESPAÇO, TRABALHO, INOVAÇÃO E SUSTENTABILIDADE – GEPETIS</h4>
      <h5>TEMA: ALTERNATIVAS PARA O DESENVOLVIMENTO NO CONTEXTO DA DEPENDÊNCIA </h5>
    </div>
  </div>
  <div class="divider"></div>
