<div class="row">
    <div class="row">
        <h4 class="title">Modificar configurações do site
        </h4>
      </div>


  <div class="col s10 offset-s1 grey lighten-3 box ">
    <h6>o Logotipo:</h6>
    <p class="">O Banner precisa ter as dimensões de Altura: 600 Pixels e Largura: 1200 Pixels</p>
      <form [formGroup]="" class="center">

          <div class="col s6">
              <div class="file-field input-field">
                  <div class="btn">
                    <span>File</span>
                    <input type="file">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
          </div>
          <div class="col s1"> <button mz-button type="submit" class="about-button mid">ENVIAR</button></div>


      </form>
  </div>
</div>
<div class="row">
<!-- https://github.com/zefoy/ngx-color-picker -->
  <div class="col s10 offset-s1 grey lighten-3 box ">
    <h5>Editar Cores</h5>
    <div class="row option">
      <div class="col s5">
        <div class="col s4"><p class="pInput">Core de Fundo</p></div>
        <div class="col s6">
            <mz-input-container>
                <i mz-icon-mdi mz-input-prefix
                  [icon]="'format-color-fill'">
                </i>
                <input mz-input
                  [validate]="true"
                  [dataError]="'Email is invalid'"
                  [dataSuccess]="'Email is valid'"
                  id="email-input"
                  placeholder="Selecionar Cor"
                   type="email">
              </mz-input-container>
        </div>
    </div>
    <div class="col s5">
        <div class="col s4"><p class="pInput">Core de Fundo Logotipo</p></div>
        <div class="col s6">
            <mz-input-container>
                <i mz-icon-mdi mz-input-prefix
                  [icon]="'format-color-fill'">
                </i>
                <input mz-input
                  [validate]="true"
                  [dataError]="'Email is invalid'"
                  [dataSuccess]="'Email is valid'"
                  id="email-input"
                  placeholder="Selecionar Cor"
                   type="email">
              </mz-input-container>
        </div>
    </div>
  </div>
</div>
