<div class="row">
  <div class="top col s12">
    <div class="col s3 offset-s8">
        <div>
            <a class=" border" routerLink="/login" mz-button flat="true">
              Acessar
            </a>
          </div>
    </div>
  </div>
  <div class="col s12 full">12312</div>
  <div class="col s12 navbar">
    <nav class="">
      <div class="nav-wrapper  ">
        <ul class=" hide-on-med-and-down menuList">
          <li><a routerLink="/capa">Capa</a></li>
          <li><a routerLink="/noticias">Notícias</a></li>
          <li><a routerLink="/sobre">Sobre</a></li>
          <li><a *ngIf(!loggedIn) routerLink="/cadastro">Cadastro</a></li>
          <li><a *ngIf="loggedIn" routerLink="/user">Painel de Usuário</a></li>
          <!-- Dropdown Trigger -->
          <li><a mz-button id="btn-dropdown-demo" class="background-none border-white" href="#">Edições Anterirores</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <mz-dropdown
  [id]="'dropdown-demo'"
  [align]="'left'"
  [belowOrigin]="false"
  [constrainWidth]="true"
  [dropdownButtonId]="'btn-dropdown-demo'"
  [gutter]="true"
  [hover]="true"
  [inDuration]="300"
  [outDuration]="300"
  [stopPropagation]="true"
  >
  <mz-dropdown-item><a >GEPETIS 2018</a></mz-dropdown-item>
  <mz-dropdown-item><a href="#!">GEPETIS 2017</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a routerLink="/events">Ver Mais</a></mz-dropdown-item>
  </mz-dropdown>



  </div>
