.full{
  width: 100vw;
  height: 300px;
  background: #76bd9e;
  margin:0;
}
.top{
  width: 100vw;
  height: 30px;
  background: #369369;
  margin:0;
}
.nav-wrapper{
  background: #369369;
}
nav{
  background: #369369;
}
