<div class="aboutHeader center-align ">
  <h5>Painel de usuario</h5>
</div>
<div class="row">
  <div class="col s12 welcome">
    <h5>Bem vindo, José Wilder de Morais Venancio</h5>
    <div class="col s12 flex-center insideMenu">
      <a mz-button class="btn orange accent-4"
      routerLink="/user/nova-submissao">Nova Submissão</a>
      <a mz-button class="btn "
      routerLink="/user/editar-perfil">Editar Perfil</a>
      <a mz-button class="btn"
      (click)="bottomSheetModal.openModal()">Alterar Senha</a>
      <a mz-button class="btn"
      (click)="logout()">Sair</a>


    </div>
  </div>
</div>
    <router-outlet></router-outlet>


    <mz-modal #bottomSheetModal [fixedFooter]="true" [bottomSheet]="false" [options]="modalOptions">
      <mz-modal-header>
        <h4>Alterar Senha</h4>
      </mz-modal-header>
      <mz-modal-content>
        <form [formGroup]="passwordChange">
          <div class="row">
              <div class="col s12">
                  Digite a senha atual:
                  <div class="input-field inline">
                    <input id="email_inline" type="email" class="validate">
                    <label for="email_inline">Aqui</label>
                    <span class="helper-text" data-error="wrong" data-success="right"></span>
                  </div>
                  </div><div class="col s12">
                      Digite a senha nova:
                      <div class="input-field inline">
                        <input id="email_inline" type="email" class="validate">
                        <label for="email_inline">Aqui</label>
                        <span class="helper-text" data-error="wrong" data-success="right"></span>
                      </div>
                      </div>
            </div>
          </form>

      </mz-modal-content>
      <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Cancelar</button>
        <button mz-button [flat]="true" mz-modal-close (click)="change()">Alterar</button>
      </mz-modal-footer>
    </mz-modal>
