.row{
  margin:0;
}
.col{
  padding: 0;
}
.profileAvatar img{
  padding: 5px!important;
  padding-top: 10px!important;

  float:right;

}
.profileName{
  color:white;
  display: flex;
}
.profileButton{
  padding:3px;
  color:white;
}
.profileName i{
  padding-top:20px;
}
.sideMenu{
  height: 100%;
  padding-bottom: 100vh;
}
.sideHeader{
  background-color:#0F3121;

}
.contentHeader{
  height: 3.26rem;
  background: #0F3121;
}
ul li{
  font-size: 1.2rem;
  padding-bottom: 3rem;
}

a{
  color:#0F3121;

}
a:hover{
  color:#258A5A;

}
