<div class="full">
  <div class="row header ">
    <div class="col s2 green lighten-2 sideMenu">
      <div class="row sideHeader">
        <div class="col s12 white-text flex-center">
          <h5>Gepetis</h5>
        </div>
      </div>
      <div class="sideContainer flex-center">
        <ul class="font-green-color">
          <li>Submissões</li>
          <li><a id="btn-dropdown-demo" href="#">Páginas</a></li>
          <li>Usuários</li>
          <li>Outros</li>
          <li><a routerLink=" ">Sair</a> </li>
        </ul>
      </div>
    </div>
    <div class="col s10 right-content white">
      <div class="row contentHeader"></div>
      <div class="row contentContent"><router-outlet></router-outlet></div>
    </div>

  </div>

</div>
<mz-dropdown
[id]="'dropdown-demo'"
[align]="'left'"
[belowOrigin]="false"
[constrainWidth]="true"
[dropdownButtonId]="'btn-dropdown-demo'"
[gutter]="true"
[hover]="true"
[inDuration]="300"
[outDuration]="300"
[stopPropagation]="true"
>
<mz-dropdown-item><a href="#!">One</a></mz-dropdown-item>
<mz-dropdown-item><a href="#!">Two</a></mz-dropdown-item>
<mz-dropdown-divider></mz-dropdown-divider>
<mz-dropdown-item><a href="#!">Three</a></mz-dropdown-item>
</mz-dropdown>
