<div class="row news sectionHeader flex-center">
  <h5>  NOTICIAS</h5>
</div>
<div class="row">
  <div class=" col s8">
    <div class="row">
      <div class="col s12 newsBox">
        <div class="imgBox"><img src="http://arquivos.tribunadonorte.com.br/fotos/215480.jpg" height="200px" alt=""></div>
        <div class="">
          <span class="newsTitle">Semana de Ciencia e Tecnologia UFRN-Natal/rn</span>
          <p class="newsText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel orci eget
             tortor pulvinar maximus. Morbi vel ornare turpis. Proin ac justo nec tortor
             consectetur pellentesque. Donec quis dolor posuere, luctus quam vitae, pulvinar
             velit. Vivamus non ex ut mi eleifend egestas vitae a elit. <br> <br> et turpis vitae
              turpis sagittis efficitur. Suspendisse id odio in nunc convallis euismod. Curabitur
               eleifend venenatis enim, in semper tellus posuere eget.
              </p>
              <div class="links"> <a>para ler mais clique aqui!</a></div>
        </div>

      </div>
    </div>
    <div class="row">
        <div class="col s4 newsBox2">
            <div class="imgBox"><img src="http://arquivos.tribunadonorte.com.br/fotos/215480.jpg" height="150px" width="290px" alt=""></div>
            <div class="">
              <span class="newsTitle left">Semana de Ciencia e Tecnologia UFRN-Natal/rn</span>
              <p class="newsText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel orci eget
                 tortor pulvinar maximus. Morbi vel ornare turpis. Proin ac justo nec tortor...
                  </p>
                  <div class="links"> <a>para ler mais clique aqui!</a></div>
            </div>

          </div>
          <div class="col s4 newsBox2">
              <div class="imgBox"><img src="http://arquivos.tribunadonorte.com.br/fotos/215480.jpg" height="150px" width="290px" alt=""></div>
              <div class="">
                <span class="newsTitle left">Semana de Ciencia e Tecnologia UFRN-Natal/rn</span>
                <p class="newsText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel orci eget
                   tortor pulvinar maximus. Morbi vel ornare turpis. Proin ac justo nec tortor...
                    </p>
                    <div class="links"> <a>para ler mais clique aqui!</a></div>
              </div>

            </div>
            <div class="col s4 newsBox2">
                <div class="imgBox"><img src="http://arquivos.tribunadonorte.com.br/fotos/215480.jpg" height="150px" width="290px" alt=""></div>
                <div class="">
                  <span class="newsTitle left">Semana de Ciencia e Tecnologia UFRN-Natal/rn</span>
                  <p class="newsText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel orci eget
                     tortor pulvinar maximus. Morbi vel ornare turpis. Proin ac justo nec tortor...
                      </p>
                      <div class="links"> <a href="#">para ler mais clique aqui!</a></div>
                </div>

              </div>
      </div>

  </div>
  <div class="col s4">
    <div class="row">
      <div class="col s12 newsBoxList">
        <div class="newsTitle">LISTA DE NOTICIAS</div>
        <div class="newsList ">
          <ul>
            <li>Semana de Ciencia e Tecnologia UFRN-Natal/rn</li>
            <li>Semana de Ciencia e Tecnologia ...</li>
            <li>Semana de Ciencia e Tecnologia UFRN-Natal/rn</li>
            <li>Semana de Ciencia e Tecnologia UFRN-Natal/rn</li>
            <li>Semana de Ciencia e Tecnologia UFRN-Natal/rn</li>


          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
