<div class="row news sectionHeader flex-center">
  <h5>  NOTICIAS</h5>
</div>
<div class="row">
  <div class=" col s8">
    <div class="row">
      <div class="col s12 newsBox">
        <div class="newsTitle">PRINCIPAIS</div>
      </div>
    </div>
    <div class="row">
        <div class="col s4 newsBox">
          <div class="newsTitle">PRINCIPAIS</div>
        </div>
        <div class="col s4 newsBox">
            <div class="newsTitle">PRINCIPAIS</div>
          </div>
          <div class="col s4 newsBox">
              <div class="newsTitle">PRINCIPAIS</div>
            </div>
      </div>

  </div>
  <div class="col s4">
    <div class="row">
      <div class="col s12 newsBox2">
        <div class="newsTitle">PRINCIPAIS</div>
      </div>
    </div>
  </div>
</div>
