<div class="row articles">
  <div class="articlesTitle col s12">
    <div class="row">
        <div class="col s4">
            <h5 class="white-text">Minhas Submissões</h5>
        </div>
            <div class="col s3 offset-s4">
            <h6 class="white-text">(1) Submissão Ativa</h6>
            </div>
    </div>
    </div>
</div>
<div class="row">
  <div class="col s12">
    <table>
      <thead>
        <tr>
            <th>Autor</th>
            <th>Titulo</th>
            <th class=" flex-center optionsTh">Opções</th>

        </tr>
      </thead>

      <tbody>
        <tr>
          <td>José Wilder de Morais Venancio</td>
          <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
          <td class="flex-center"><a mz-button class="editBtn">Editar</a>
            <a mz-button class="removeBtn">Excluir</a></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
