/* You can add global styles to this file, and also import other style files */

/* CSS GEPETIS FRAMEWORK */
 /* Fonte cor verde principal color:#0F3121; */
.font-green-color{
  color:#0F3121;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center
}
.sectionHeader{
  background: linear-gradient(90deg,#a5d6a7 0.5%, white);
  color:#0F3121;
  padding:5px;
  margin:-22px;
}
.title{
  color: rgb(15, 49, 33);
  padding: 10px;
}
