<div class="aboutHeader center-align ">
  <h3>Sobre o Evento</h3>
</div>
<section>
    <h3 class="sectionHeader">Equipe</h3>
    <p>Contato</p>
    <p>Equipe</p>
  </section>
  <section>
      <h3 class="sectionHeader">Políticas</h3>
      <p>Foco e Escopo</p>
      <p>Politicas de Secção</p>
    </section>
    <section>
        <h3 class="sectionHeader">Submissões</h3>
        <p>Contato</p>
        <p>Equipe</p>
      </section>
      <section>
          <h3 class="sectionHeader">Outro</h3>
          <p>Contato</p>
          <p>Equipe</p>
        </section>
