<div class="aboutHeader center-align ">
  <h5>Sobre o Evento</h5>
</div>
<section>
    <h5 class="sectionHeader">Equipe</h5>
    <p>Contato</p>
    <p>Equipe</p>
  </section>
  <section>
      <h5 class="sectionHeader">Políticas</h5>
      <p>Foco e Escopo</p>
      <p>Politicas de Secção</p>
    </section>
    <section>
        <h5 class="sectionHeader">Submissões</h5>
        <p>Contato</p>
        <p>Equipe</p>
      </section>
      <section>
          <h5 class="sectionHeader">Outro</h5>
          <p>Contato</p>
          <p>Equipe</p>
        </section>
