<div class="registerHeader center-align ">
  <h5>Registre-se</h5>
</div>
<form [formGroup]="profileForm">
<div class="sectionHeader">
  <h5>Usuário</h5>
</div>
<div class="row formSection ">
  <div class="col s4">
      <mz-input-container>
          <i mz-icon-mdi mz-input-prefix
            [icon]="'account'">
          </i>
          <input mz-input
            [label]="'Usuário'"
            [validate]="true"
            [dataError]="'Email is invalid'"
            [dataSuccess]="'Email is valid'"
            id="email-input"
            placeholder="Digite seu Usuário"
            formControlName="User"
          >
        </mz-input-container>

  </div>
  <div class="col s4">
      <mz-input-container>
          <i mz-icon-mdi mz-input-prefix
            [icon]="'email'">
          </i>
          <input mz-input
            [label]="'Email'"
            [validate]="true"
            [dataError]="'Email is invalid'"
            [dataSuccess]="'Email is valid'"
            id="email-input"
            placeholder="Enter your email"
            length="150"
            type="email">
        </mz-input-container>
</div>
</div>
<div class="row">
    <div class="col s4">
        <mz-input-container>
            <i mz-icon-mdi mz-input-prefix
              [icon]="'textbox-password'">
            </i>
            <input mz-input
              [label]="'Senha'"
              [validate]="true"
              [dataError]="'Senha Válida'"
              [dataSuccess]="'Senha Válida'"
              id="email-input"
              placeholder="Enter your email"
              type="password">
          </mz-input-container>
    </div>
    <div class="col s4">
        <mz-input-container>
            <i mz-icon-mdi mz-input-prefix
              [icon]="'textbox-password'">
            </i>
            <input mz-input
              [label]="'Repetir Senha'"
              [validate]="true"
              [dataError]="'Email is invalid'"
              [dataSuccess]="'Email is valid'"
              id="email-input"
              placeholder="Enter your email"
              type="email">
          </mz-input-container>
    </div>
  </div>
      <!-- SESSÃO DADOS PESSOAIS -->
    <div class="sectionHeader">
        <h5>Dados Pessoais</h5>
      </div>
      <div class="row formSection">
          <div class="col s4">
              <mz-input-container>
                  <i mz-icon-mdi mz-input-prefix
                    [icon]="'account'">
                  </i>
                  <input mz-input
                    [label]="'Nome '"
                    id="email-input"
                    placeholder="Enter your email"
                    >
                </mz-input-container>
          </div>
          <div class="col s4">
              <mz-input-container>
                  <i mz-icon-mdi mz-input-prefix
                    [icon]="'account'">
                  </i>
                  <input mz-input
                    [label]="'Nome do Meio'"
                    id="email-input"
                    placeholder="Enter your email"
                    >
                </mz-input-container>
          </div>
      </div>
      <div class="row">
      <div class="col s4">
          <mz-input-container>
              <i mz-icon-mdi mz-input-prefix
                [icon]="'account'">
              </i>
              <input mz-input
                [label]="'Sobrenome'"
                id="email-input"
                placeholder="Enter your email"
                >
            </mz-input-container>
      </div>
          <div class="col s4">
              <mz-select-container
              inline="true"
              >
                  <select mz-select
                    id="options-select"
                    [placeholder]="'Selecione o Sexo:'"
                  >
                      <option  class="left circle">Masculino</option>
                      <option  class="left circle">Feminino</option>
                  </select>

                </mz-select-container>
          </div>
        </div>
      <div class="row">
          <div class="col s4">
              <mz-input-container>
                  <i mz-icon-mdi mz-input-prefix
                    [icon]="'account'">
                  </i>
                  <input mz-input
                    [label]="'Instituição'"
                    id="email-input"
                    placeholder="Enter your email"
                    >
                </mz-input-container>
          </div>
          <div class="col s4">
              <mz-select-container
              inline="true"
              >

                  <select mz-select
                    id="options-select2"
                    [placeholder]="'Selecione o País'"
                  >
                      <option  class="left circle">Brasil</option>
                      <option  class="left circle">Inglaterra</option>
                  </select>

                </mz-select-container>
          </div>
       </div>
      <div class="row">

        </div>



       <div class="row">
          <mz-radio-button-container>
              <input mz-radio-button
                [label]="'Aceito os termos de serviço'"
                [withGap]="true"
                id="radio-button-id"
                name="radio-group"
                type="radio">
            </mz-radio-button-container>
       </div>
       <div class="row">
          <div class="left">
              <button mz-button
              disabled="true">
                Cadastrar
              </button>
            </div>
       </div>

</form>
