.sectionHeader{
  background: linear-gradient(90deg,#a5d6a7 0.5%, white);
  color:#0F3121;
  margin: 0;
}

.registerHeader{
  background: linear-gradient(90deg,#a5d6a7 0.5%, white);
  padding:5px;
  margin:-22px;

}

.col{
  padding-top:1rem;
  padding-bottom:1rem;
}
